.accordion-item {
  font-family: 'Inter';
  width: 30ch;
}

.accordion-trigger {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accordion-title {
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.accordion-content {
  max-width: 60ch;
  font-size: 0.75rem;
  color: gray;
  margin-bottom: 0.5rem;
  /* animation: on-render 400ms cubic-bezier(0.6, 0.04, 0.98, 0.335); */
}

@keyframes on-render {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hidden {
  opacity: 0;
  transform: translateY(-10px);
  /* animation: on-exit 200ms cubic-bezier(0.075, 0.82, 0.165, 1) both; */
}

@keyframes on-exit {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    display: none;
  }
}
