.tab-controls {
  width: 100%;
  border-bottom: 1px solid #ccc;
  margin-bottom: 2rem;
}

.tab-control {
  padding: 0.5rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: inherit;
  letter-spacing: -0.2px;
  font-size: 0.75rem;
  font-weight: 500;
  color: slategray;
  transform: translateY(1.5px);
}

.tab-control.active-tab {
  border-bottom: 2px inset black;
  color: black;
}

.tab-content {
  border: 1px solid #ccc;

  padding: 1rem;
  border-radius: 10px;
  /* overflow: hidden; */
  overflow: scroll;
  display: grid;
  place-content: center;
  position: relative;
}

.component-card {
  background-color: #fff;
  aspect-ratio: 3 / 4;
}

.steps {
  border-left: 1px solid #ccc;
  position: relative;
  padding-bottom: 0.75rem;
  margin-left: 1rem;
}

.step {
  font-size: 0.875rem;
  margin: 0 0 2rem 1.5rem;
  position: relative;
}

.step-number,
.steps::after {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.25rem;
  border-radius: 50%;
  font-weight: 700;
}

.step-number {
  left: -1.5rem;
  transform: translateX(-50%);
  background-color: #555;
  color: white;
}

.steps::after {
  content: '✔';
  background-color: #42b337;
  color: white;
  transform: translate(-50%, -50%);
}

.step-title {
  font-weight: 700;
  color: #555;
  margin-bottom: 0;
}

.code-preview--wrapper {
  border-radius: 10px 10px 0 10px;
  overflow: hidden;
}

.code-preview--controls {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.button-copy {
  grid-column: 3;
  grid-row: 1;
  justify-self: end;
  border: none;
  width: fit-content;
  padding: 0.125rem 0.75rem;
  border-radius: 0 0 5px 5px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  background-color: #2b313d;
  color: white;
}

.button-size--toggle {
  grid-column: 2;
  grid-row: 1;
  padding: 0.25rem 0.75rem;
  border: none;
  border-radius: 0 0 5px 5px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  background-color: #2b313d;
  color: white;
}

.code-mirror {
  font-size: 0.75rem;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .code-preview--wrapper {
    font-size: 0.625rem;
  }

  .code-mirror {
    font-size: 0.625rem;
  }
}
