:root {
  --new-background: #00d959;
  --new-color: #002b12;
  --featured-background: #0171e2;
  --featured-color: #cce3f9;
}

p {
  line-height: 1.5;
  font-size: 0.875rem;
  color: slategray;
  max-width: 75ch;
  margin-bottom: 0.5rem;
}

section {
  margin-bottom: 2rem;
}

.page-heading {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -0.5px;
  margin-bottom: 1rem;
}

.secondary-heading {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -0.5px;
  margin-bottom: 1.5rem;
}

.content {
  margin-top: 1rem;
  padding: 0 1rem;
  width: 600px;
}

.tag {
  padding: 0.125rem 0.25rem;
  border-radius: 0.25rem;
  margin-left: 0.5rem;
  font-size: 0.625rem;
  font-weight: 600;
  text-decoration: none;
}

.new {
  background-color: var(--new-background);
  color: var(--new-color);
}

.featured {
  background-color: var(--featured-background);
  color: var(--featured-color);
}

.button {
  display: inline-block;
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
  background: #000;
  font-size: 0.75rem;
  font-weight: 600;
  text-decoration: none;
  color: white;
  margin-top: 1rem;
}

@media screen and (max-width: 768px) {
  .content {
    flex-grow: 1;
    width: 100%;
  }
}
