.navigation-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--nav-height);
  margin-bottom: 1rem;
}

.theme-toggle,
.search-input {
  cursor: pointer;
  color: slategray;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.search-input {
  background-color: white;
  border: 1.5px solid whitesmoke;
  padding: 0.25rem 0.25rem 0.25rem 0.5rem;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1.5px solid lightgray;
}

.search-input:hover {
  color: slategray;
  background-color: whitesmoke;
}

.theme-toggle {
  border: none;
  background-color: transparent;
  padding: 0.25rem;
}

.theme-toggle:hover {
  background-color: white;
}

.search-input--icon {
  background-color: white;
  padding: 0.25rem;
  /* border: 1.5px solid lightgray; */
  border-radius: 3px;
  font-size: 0.625rem;
}

.navigation-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  gap: 1rem;
  font-size: 0.75rem;
}

.navigation-nav li :any-link {
  color: black;
  text-decoration: none;
}

.navigation-logo:any-link {
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -0.8px;
}

.navigation-controls {
  display: flex;
  gap: 1rem;
  align-items: center;
}
