.sidebar-layout {
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 10rem;
  height: calc(100vh - var(--nav-height));
  margin-right: 1rem;
}

.sidebar-nav-list {
  margin-bottom: 1.5rem;
}

.sidebar-nav-section {
  margin-bottom: 0.5rem;
  letter-spacing: -0.5px;
}

.sidebar-nav ul {
  font-size: 0.75rem;
  font-weight: 500;
  list-style: none;
}

.sidebar-nav :any-link {
  color: gray;
  text-decoration: none;
}

a.active {
  color: black !important;
}

.sidebar-nav li {
  margin-bottom: 10px;
}

.sidebar-toggle {
  display: none;
}
